/*
 *= require spree/backend
 *= require jquery.ui.all
 */

@import "jquery.ui.tooltip";

.editable-empty {
  cursor: pointer;
  color: red;
  text-decoration: underline;
  font-style: italic;
}
.editable-click {
  cursor: pointer;
  text-decoration: underline;
}